@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rename{
    width: 100%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.rename h3{
    font-size: 42px;
    color: #6b4928;
    font-weight: bold;
    border-bottom: 3px solid #999696;
}

.rename h3 span{
    font-weight: 300;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px; 
}

body{
    width: 100%;
    height: 100vh;
    background-color: #b9a48c;
    display: flex;
}


.container{
    width: 100%;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'fly-1 fly-1 fly-2 fly-3'
    'fly-4 fly-5 fly-2 fly-6'
    'fly-7 fly-8 fly-9 fly-6'
    'fly-7 fly-10 fly-11 fly-12'
    'fly-13 fly-14 fly-15 fly-12'
    'fly-13 fly-14 fly-16 fly-17'
    'fly-18 fly-19 fly-20 fly-21'
    'fly-22 fly-22 fly-23 fly-24'
    'fly-25 fly-26 fly-27 fly-28'
    'fly-29 fly-30 fly-31 fly-32'
    'fly-33 fly-33 fly-35 fly-35'
    'fly-33 fly-33 fly-35 fly-35'
    'fly-34 fly-36 fly-37 fly-38';
    margin-bottom: 25px;
}

.image-gallery a{
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
   color: rgba(255,255,255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 10px;
    opacity: 0;
    transition: opacity .5s;
     
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.fly-1{
    grid-area: fly-1;
    background-image: url("./IMG/adv/1-01.png");
}

.fly-2{
    grid-area: fly-2;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-02.png");
}

.fly-3{
    grid-area: fly-3;
    background-image: url("./IMG/adv/1-03.png");
}

.fly-4{
    grid-area: fly-4;
    background-image: url("./IMG/adv/1-04.png");
}

.fly-5{
    grid-area: fly-5;
    background-image: url("./IMG/adv/1-05.png");
}

.fly-6{
    grid-area: fly-6;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-06.png");
}

.fly-7{
    grid-area: fly-7;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-07.png");
}

.fly-8{
    grid-area: fly-8;
    background-image: url("./IMG/adv/1-08.png");
}

.fly-9{
    grid-area: fly-9;
    background-image: url("./IMG/adv/1-09.png");
}

.fly-10{
    grid-area: fly-10;
    background-image: url("./IMG/adv/1-10.png");
}

.fly-11{
    grid-area: fly-11;
    background-image: url("./IMG/adv/1-11.png");
}

.fly-12{
    grid-area: fly-12;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-12.png");
}

.fly-13{
    grid-area: fly-13;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-13.png");
}

.fly-14{
    grid-area: fly-14;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-14.png");
}

.fly-15{
    grid-area: fly-15;
    background-image: url("./IMG/adv/1-15.png");
}

.fly-16{
    grid-area: fly-16;
    background-image: url("./IMG/adv/1-16.png");
}

.fly-17{
    grid-area: fly-17;
    background-image: url("./IMG/adv/1-17.png");
}

.fly-18{
    grid-area: fly-18;
    background-image: url("./IMG/adv/1-18.png");
}

.fly-19{
    grid-area: fly-19;
    background-image: url("./IMG/adv/1-19.png");
}

.fly-20{
    grid-area: fly-20;
    background-image: url("./IMG/adv/1-20.png");
}

.fly-21{
    grid-area: fly-21;
    background-image: url("./IMG/adv/1-21.png");
}

.fly-22{
    grid-area: fly-22;
    background-image: url("./IMG/adv/1-22.png");
}
.fly-23{
    grid-area: fly-23;
    background-image: url("./IMG/adv/1-23.png");
}
.fly-24{
    grid-area: fly-24;
    background-image: url("./IMG/adv/1-24.png");
}

.fly-25{
    grid-area: fly-25;
    background-image: url("./IMG/adv/1-25.png");
}
.fly-26{
    grid-area: fly-26;
    background-image: url("./IMG/adv/1-26.png");
}
.fly-27{
    grid-area: fly-27;
    background-image: url("./IMG/adv/1-27.png");
}
.fly-28{
    grid-area: fly-28;
    background-image: url("./IMG/adv/1-28.png");
}
.fly-29{
    grid-area: fly-29;
    background-image: url("./IMG/adv/1-29.png");
}

.fly-30{
    grid-area: fly-30;
    background-image: url("./IMG/adv/1-30.png");
}

.fly-31{
    grid-area: fly-31;
    background-image: url("./IMG/adv/1-31.png");
}

.fly-32{
    grid-area: fly-32;
    background-image: url("./IMG/adv/1-32.png");
}

.fly-33{
    grid-area: fly-33;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-33.jpg");
}

.fly-34{
    grid-area: fly-34;
    background-image: url("./IMG/adv/1-34.jpg");
}

.fly-35{
    grid-area: fly-35;
    min-height: 61.5rem;
    background-image: url("./IMG/adv/1-35.jpg");
}

.fly-36{
    grid-area: fly-36;
    background-image: url("./IMG/adv/1-36.jpg");
}

.fly-37{
    grid-area: fly-37;
    background-image: url("./IMG/adv/1-37.jpg");
}

.fly-38{
    grid-area: fly-38;
    background-image: url("./IMG/adv/1-38.jpg");
}


@media screen and (max-width: 900px){

    .rename h3{
        font-size: 42px;
        font-weight: bold;
        color: #575094;
        border-bottom: 3px solid #2f1eca;
    }


    .image-gallery{
        align-items: center;
            grid-template-areas: 
            'fly-1 fly-1 fly-2 fly-2'
            'fly-3 fly-3 fly-2 fly-2'
            'fly-4 fly-4 fly-6 fly-6'
            'fly-5 fly-5 fly-6 fly-6'
            'fly-7 fly-7 fly-8 fly-8'
            'fly-7 fly-7 fly-9 fly-9'
            'fly-10 fly-10 fly-12 fly-12'
            'fly-11 fly-11 fly-12 fly-12'
            'fly-13 fly-13 fly-14 fly-14'
            'fly-13 fly-13 fly-14 fly-14'
            'fly-15 fly-15 fly-16 fly-16'
            'fly-17 fly-18 fly-18 fly-18'
            'fly-19 fly-19 fly-19 fly-20'
            'fly-21 fly-21 fly-22 fly-22'
            'fly-23 fly-23 fly-24 fly-24'
            'fly-26 fly-26 fly-25 fly-25'
            'fly-27 fly-28 fly-28 fly-28'
            'fly-29 fly-29 fly-29 fly-30'
            'fly-31 fly-31 fly-32 fly-32'
            'fly-33 fly-33 fly-35 fly-35'
            'fly-33 fly-33 fly-35 fly-35'
            'fly-34 fly-34 fly-36 fly-36'
            'fly-38 fly-38 fly-37 fly-37'
            ;
    }

    .image-gallery a{
        height: 30rem;
    }
}

@media screen and (max-width: 600px){
    .rename h3{
        font-size: 32px;
        font-weight: bold;
        color: #4331e4;
        border-bottom: 3px solid #795656;
    }
    
    .image-gallery{
        align-items: center;
            grid-template-areas: 
    'fly-1 fly-1 fly-1 fly-1'
    'fly-2 fly-2 fly-2 fly-2'
    'fly-3 fly-3 fly-3 fly-3'
    'fly-4 fly-4 fly-4 fly-4'
    'fly-5 fly-5 fly-5 fly-5'
    'fly-6 fly-6 fly-6 fly-6'
    'fly-7 fly-7 fly-7 fly-7'
    'fly-8 fly-8 fly-8 fly-8'
    'fly-9 fly-9 fly-9 fly-9'
    'fly-10 fly-10 fly-10 fly-10'
    'fly-11 fly-11 fly-11 fly-11'
    'fly-12 fly-12 fly-12 fly-12'
    'fly-13 fly-13 fly-13 fly-13'
    'fly-14 fly-14 fly-14 fly-14'
    'fly-15 fly-15 fly-15 fly-15'
    'fly-16 fly-16 fly-16 fly-16'
    'fly-17 fly-17 fly-17 fly-17'
    'fly-18 fly-18 fly-18 fly-18'
    'fly-19 fly-19 fly-19 fly-19'
    'fly-20 fly-20 fly-20 fly-20'
    'fly-21 fly-21 fly-21 fly-21'
    'fly-22 fly-22 fly-22 fly-22'
    'fly-23 fly-23 fly-23 fly-23'
    'fly-24 fly-24 fly-24 fly-24'
    'fly-25 fly-25 fly-25 fly-25'
    'fly-26 fly-26 fly-26 fly-26'
    'fly-27 fly-27 fly-27 fly-27'
    'fly-28 fly-28 fly-28 fly-28'
    'fly-29 fly-29 fly-29 fly-29'
    'fly-30 fly-30 fly-30 fly-30'
    'fly-31 fly-31 fly-31 fly-31'
    'fly-32 fly-32 fly-32 fly-32'
    'fly-33 fly-33 fly-33 fly-33'
    'fly-34 fly-34 fly-34 fly-34'
    'fly-35 fly-35 fly-35 fly-35'
    'fly-36 fly-36 fly-36 fly-36'
    'fly-37 fly-37 fly-37 fly-37'
    'fly-38 fly-38 fly-38 fly-38';
    }
    
    .image-gallery a,
    .fly-2{
        min-height: 61.5rem;
        height: 30rem;
    }

    .image-gallery
    .fly-6{
        min-height: 60rem;
    }
    .image-gallery
    .fly-7 {
        min-height: 60rem;
    }
    .image-gallery
    .fly-12 {
        min-height: 60rem;
    }
    .image-gallery
    .fly-13 {
        min-height: 60rem;
    }
    .image-gallery
    .fly-14 {
        min-height: 60rem;
    }
    .image-gallery
    .fly-33 {
        min-height: 30rem;
    }
    .image-gallery
    .fly-35 {
        min-height: 30rem;
    }
    
    
}

@media screen and (max-width: 300px){
    .rename h3{
        font-size: 22px;
        color: gray;
        font-weight: bold;
        border-bottom: 3px solid #c0752f;
    }
}

